<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>ChatRoom</title>
    <link href="dist/img/favicon.png" type="image/png" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="dist/css/themify-icons.css">
    <link rel="stylesheet" href="dist/css/emoji.css">
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="dist/css/responsive.css">
    <link rel="stylesheet" id="dark" href="dist/css/dark.css" disabled>
    <style>
        .modal-content {
            background-color: #fff;
        }
        .modal-content .form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-secondary, .btn-secondary:hover {
            color: #fff;
            background-color: #5a6268;
            border-color: #545b62;
        }
    </style>
<!--    <link rel="stylesheet" href="dist/css/dark.css">-->
<!--    <link rel="stylesheet" href="dist/css/bootstrap.min.css">-->
</head>
<body>
<main>
    <div class="layout">
        <div class="sidebar" id="sidebar">
            <div class="container">
                <div class="col-md-12">
                    <div class="tab-content">
                        <!-- Start of Discussions -->
                        <div id="discussions" class="tab-pane fade in active show">
                            <div class="list-group sort">
                            </div>
                            <div class="discussions" id="scroller">
                                <h1>Chats</h1>
                                <div class="btn-group add-group" role="group" style="right: 120px">
                                    <button type="button" class="dark-theme btn btn-default">
                                        <i class="ti-wand"></i>
                                        Night Mode
                                    </button>
                                </div>
                                <div class="btn-group add-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Add +
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item personalAdd" href="#">私聊 +</a>
                                        <a class="dropdown-item groupAdd" href="#">群聊 +</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#memberAdd" href="#" v-if="type == 2">成員 +</a>
                                    </div>
                                </div>
                                <div class="list-group" id="chats" role="tablist">
                                    <a href="#list-chat" class="filterDiscussions all unread single room"
                                       id="list-chat-list" data-toggle="list" role="tab"
                                       v-for="(item, index) in roomList"
                                       :roomId="item.roomId" :roomName="item.name" :type="item.type">
                                        <img class="avatar-md" src="dist/img/avatars/avatar-female-1.jpg"
                                             data-toggle="tooltip" data-placement="top" title="Sarah" alt="avatar">
                                        <div class="data">
                                            <h5>{{ item.name }}</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End of Discussions -->
                        <!-- Start of Settings -->
                    </div>
                </div>
            </div>
        </div><!-- Sidebar -->

        <div class="main" id="chat-dialog">
            <div class="tab-content" id="nav-tabContent">
                <!-- Start of Babble -->
                <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel"
                     aria-labelledby="list-chat-list">
                    <!-- Start of Chat -->
                    <div class="chat" id="chat1">
                        <div class="top">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="inside">
<!--                                        <div class="status online"></div>-->
                                        <div class="data">
                                            <h5><a href="#">{{ roomName }}</a></h5>
<!--                                            <span>Active now</span>-->
                                        </div>
                                        <button class="btn d-md-block d-none" data-toggle="modal" data-target="#login" title="Audio call" v-if="userName == ''">
                                            登入
                                        </button>
                                        {{ userName }}
                                        <button class="btn d-md-block d-none logout" title="Audio call" v-if="userName != ''">
                                            登出
                                        </button>
                                        <button class="btn back-to-mesg" title="Back">
                                            <i class="ti-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="content">
                            <div class="container">
                                <div class="col-md-12">
                                    <div v-for="(item, index) in roomMessage">
                                        <div class="message me" v-if="item.userId == userId">
                                            <div class="text-main">
                                                <div class="text-group me">
                                                    <div class="text me">
                                                        <p v-html="item.text"></p>
                                                    </div>
                                                </div>
                                                <span>{{ item.timestamp }}</span>
                                            </div>
                                        </div>

                                        <div class="message" v-else>
                                            <img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg"
                                                 data-toggle="tooltip" data-placement="top" title="Karen joye"
                                                 alt="avatar">
                                            <div class="text-main">
                                                <div class="text-group">
                                                    <div class="text">
                                                        <p v-html="item.text"></p>
                                                    </div>
                                                </div>
                                                <span>{{ item.timestamp }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col-md-12">
                                <div class="bottom">
                                    <div class="text-area">
                                        <textarea id="message" class="form-control" placeholder="Start typing for reply..."
                                                  rows="1"></textarea>
                                        <button type="button" class="btn send send_message"><i class="ti-location-arrow"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Chat -->
                </div>
                <!-- End of Babble -->
            </div>
        </div>
    </div> <!-- Layout -->

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">登入</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group roomName">
                        <label>帳號:</label>
                        <br><br>
                        <input id="userName" type="text" class="form-control" placeholder="帳號" v-model="username">
                    </div>
                    <div class="form-group">
                        <label>密碼:</label>
                        <br><br>
                        <input id="pwd" type="text" class="form-control" placeholder="密碼" v-model="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="login">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="roomAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">搜尋聯絡人</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group roomName">
                        <label>房間名稱:</label>
                        <br><br>
                        <input type="text" class="form-control" id="roomName">
                    </div>
                    <div class="form-group">
                        <label>聯絡人:</label>
                        <br><br>
                        <input type="text" class="form-control" id="id">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary search">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="memberAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">搜尋聯絡人</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>聯絡人:</label>
                        <br><br>
                        <input type="text" class="form-control" id="member">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary search_member">Create</button>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="dist/js/vendor/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="dist/js/perfect-scrollbar.min.js"></script>
<script src="dist/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    function timeStamp2String(time) {
        // Convert timestamp to milliseconds
        var date = new Date(time * 1000);

        // Year
        var year = date.getFullYear();

        // Month
        var month = date.getMonth() + 1;

        // Day
        var day = date.getDate();

        // Hours
        var hours = date.getHours();

        // Minutes
        var minutes = "0" + date.getMinutes();

        // Seconds
        var seconds = "0" + date.getSeconds();

        // Display date time in MM-dd-yyyy h:m:s format
        return year + "-" + month + "-" + day + " " + hours + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);
    }

    function nl2br(str, is_xhtml) {
        if (typeof str === 'undefined' || str === null) {
            return '';
        }
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }

    function contentToButtom() {
        $("#content").scrollTop(0);
        window.setTimeout(function () {
            $("#content").scrollTop($("#content")[0].scrollHeight);
        }, 100);
    }

    function getDefaultData() {
        return {
            username: '',
            password: '',
            userName: '',
            userId: '',
            roomId: '',
            roomName: '',
            type: '',
            roomList: [],
            userList: [],
            messageList: [],
            roomMessage: [],
            token: '',
        }
    }

    var ws;
    let app = new Vue({
        el: 'main',
        data: getDefaultData(),
        methods: { //methods是關鍵字
            login() {
                $.ajax({
                    url: "https://cors-anywhere.herokuapp.com/http://124.108.169.202/php-chat/public/user/login",
                    method: "post",
                    data: {
                        username: this.username,
                        password: this.password
                    },
                    success: function (response) {
                        if (response.statusCode == '0') {
                            app.token = response.data.token;
                            app.userName = app.username;
                            app.userId = response.data.userId;

                            localStorage.setItem('token', app.token);
                            localStorage.setItem('userName', app.username);
                            localStorage.setItem('userId', app.userId);

                            $("#login").modal('hide');

                            app.webSocket()
                            // alert('登入成功');
                        } else {
                            alert(response.message);
                        }
                        // handle success
                    }
                });
            },
            webSocket() {
                ws = new WebSocket('ws://124.108.169.202:6001?token=' + app.token);
                ws.onopen = function () {
                    let roomList = localStorage.getItem('roomList');
                    if (roomList == null) {
                        var params = {
                            action: 'roomList',
                            userId: app.userId,
                        }
                        ws.send(JSON.stringify(params));
                    } else {
                        app.roomList = JSON.parse(roomList);

                        let userList = localStorage.getItem('userList');
                        if (userList != null) {
                            app.userList = JSON.parse(userList);
                        }

                        let messageList = localStorage.getItem('messageList');
                        if (messageList != null) {
                            app.messageList = JSON.parse(messageList);
                        }

                        window.setTimeout(function () {
                            $('.room').eq(0).trigger('click')
                        }, 100);
                    }
                    window.setInterval(function () {
                        var params = {
                            action: "ping",
                        }
                        ws.send(JSON.stringify(params));
                    }, 58000)
                };
                ws.onmessage = function (e) {
                    console.log(e.data);
                    message = JSON.parse(e.data);
                    if (message.wsStatus == '1001') {
                        //逾時登入
                        app.username = '';
                        app.password = '';
                        app.userId = '';
                        app.token = '';
                    } else if (message.statusCode == '2010') {
                        let data = message.data;
                        window.setTimeout(function () {
                            $.each(data.rooms, function (k, v) {
                                if (app.messageList[v.roomId] === undefined) {
                                    //取得房間訊息
                                    var params = {
                                        action: 'roomMessage',
                                        roomId: v.roomId,
                                        timestamp: 0
                                    }
                                    ws.send(JSON.stringify(params));
                                    //取得房間內容
                                    var params = {
                                        action: 'roomDetail',
                                        roomId: v.roomId,
                                    }
                                    ws.send(JSON.stringify(params));
                                    app.messageList[v.roomId] = [];
                                    localStorage.setItem('messageList', JSON.stringify(app.messageList));
                                } else {
                                    $.each(v.message, function (key, val) {
                                        app.messageList[v.roomId].push({
                                            userId: val.userId,
                                            text: val.text,
                                            timestamp: timeStamp2String(val.timestamp),
                                        });
                                    });
                                    localStorage.setItem('messageList', JSON.stringify(app.messageList));
                                }
                            });
                        }, 2000);
                    } else if (message.statusCode == '2011') {
                        let data = message.data;
                        //接收訊息
                        app.messageList[data.roomId].push({
                            userId: data.userId,
                            text: data.message,
                            timestamp: timeStamp2String(data.timestamp),
                        });
                        localStorage.setItem('messageList', JSON.stringify(app.messageList));
                        contentToButtom();
                    } else if (message.statusCode == '2012') {
                        //房間列表
                        $.each(message.data.rooms, function (k, v) {
                            app.roomList.push({roomId: v.roomId, type: v.type, name: v.name});
                            //取得房間內容
                            var params = {
                                action: 'roomDetail',
                                roomId: v.roomId,
                            }
                            ws.send(JSON.stringify(params));
                            //取得房間訊息
                            var params = {
                                action: 'roomMessage',
                                roomId: v.roomId,
                                timestamp: 0
                            }
                            ws.send(JSON.stringify(params));
                            app.messageList[v.roomId] = [];
                        });
                        localStorage.setItem('roomList', JSON.stringify(app.roomList));
                        window.setTimeout(function () {
                            $('.room').eq(0).trigger('click')
                        }, 300);
                    } else if (message.statusCode == '2013') {
                        //房間明細
                        let data = message.data;
                        if (data.type == 1) {
                            $.each(data.members, function (k, v) {
                                app.userList[v.userId] = v.userName;
                                if (v.userName.toLowerCase() != app.userName.toLowerCase()) {
                                    $.each(app.roomList, function (key, val) {
                                        if (val.roomId != data.roomId) {
                                            return;
                                        }
                                        app.roomList[key].name = v.userName;
                                    });
                                }
                            });
                        } else {
                            $.each(data.members, function (k, v) {
                                app.userList[v.userId] = v.userName;
                            });
                            var exist = 0;
                            $.each(app.roomList, function (key, val) {
                                if (val.roomId == data.roomId) {
                                    exist = 1;
                                }
                            });
                            if (!exist) {
                                app.roomList.push({roomId: data.roomId, type: data.type, name: data.name});
                            }
                        }
                        localStorage.setItem('userList', JSON.stringify(app.userList));
                        localStorage.setItem('roomList', JSON.stringify(app.roomList));
                    } else if (message.statusCode == '2014') {
                        //所有訊息
                        let data = message.data;
                        app.messageList[data.roomId] = [];
                        $.each(data.messages, function (k, v) {
                            app.messageList[data.roomId].push({
                                userId: v.userId,
                                text: nl2br(v.text),
                                timestamp: timeStamp2String(v.timestamp),
                            });
                        });
                        localStorage.setItem('messageList', JSON.stringify(app.messageList));
                    } else if (message.statusCode == '2015') {
                        let data = message.data;
                        let roomId = data.roomId;
                        //建立私聊
                        //檢查房間是否存在
                        if (app.messageList[roomId] !== undefined) {
                            $('#roomAdd').modal('hide');
                            $('.room[roomId="' + roomId + '"]').click()
                            return false;
                        }
                        $.each(data.members, function (k, v) {
                            if (v.userName.toLowerCase() == app.userName.toLowerCase()) {
                                return;
                            }
                            app.roomList.push({roomId: roomId, type: 1, name: v.userName});
                        });
                        var params = {
                            action: 'roomMessage',
                            roomId: roomId,
                            timestamp: 0
                        }
                        app.messageList[roomId] = [];
                        $('#roomAdd').modal('hide')
                        $('.room[roomId="' + roomId + '"]').trigger("click");
                        localStorage.setItem('roomList', JSON.stringify(app.roomList));
                        localStorage.setItem('messageList', JSON.stringify(app.messageList));
                    } else if (message.statusCode == '2016') {
                        let data = message.data;
                        let roomId = data.roomId;
                        //建立群聊
                        app.roomList.push({roomId: roomId, type: 2, name: data.roomName});
                        var params = {
                            action: 'roomMessage',
                            roomId: roomId,
                            timestamp: 0
                        }
                        app.messageList[roomId] = [];
                        $('#roomAdd').modal('hide')
                        $('.room[roomId="' + roomId + '"]').trigger("click");
                        localStorage.setItem('roomList', JSON.stringify(app.roomList));
                        localStorage.setItem('messageList', JSON.stringify(app.messageList));
                    } else if (message.statusCode == '2017') {
                        $('#memberAdd').modal('hide')
                    }
                };

                ws.onclose = function (event) {
                    console.log("WebSocket is closed now.");
                };
            },
            reset() {
                Object.assign(app.$data, getDefaultData());
            }
        },
        mounted: function () {
            $("#message").keypress(function (e) {
                if (e.which == 13 && !e.shiftKey) {
                    if ($("#message").val() != '') {
                        $(".send_message").trigger('click');
                    }
                    return false;
                }
            });

            $('.personalAdd').click(function () {
                $('.roomName').hide();
                $('#roomAdd').modal();
            });
            $('.groupAdd').click(function () {
                $('.roomName').show();
                $('#roomAdd').modal();
            });
            //點擊聊天室
            $("body").on('click', '.room', function () {
                $('#message').attr('disabled', false);
                app.roomId = $(this).attr("roomId");
                app.roomName = $(this).attr("roomName");
                app.type = $(this).attr("type");
                app.roomMessage = app.messageList[app.roomId];
                contentToButtom()
            });

            $('.send').click(function () {
                if (app.roomId > 0) {
                    var params = {
                        action: 'sendMessage',
                        roomId: app.roomId,
                        message: $('#message').val(),
                    }
                    ws.send(JSON.stringify(params));
                    $('#message').val('');
                } else {
                    alert('請先選擇聊天對象')
                }
            });

            $("body").on('click', '.logout', function () {
                localStorage.removeItem('userName');
                localStorage.removeItem('token');
                localStorage.removeItem('userId');
                localStorage.removeItem('messageList');
                localStorage.removeItem('roomList');
                localStorage.removeItem('userList');
                app.reset();
            });

            $('.search').click(function () {
                //群聊要輸入
                if ($('#roomName').is(':visible') && $('#roomName').val() == '') {
                    alert('請輸入房間名稱');
                    return false;
                }
                $.ajax({
                    url: "https://cors-anywhere.herokuapp.com/http://124.108.169.202/php-chat/public/user/search/" + $('#id').val(),
                    method: "GET",
                    success: function (response) {
                        console.log(response)
                        if (response.data.userId !== undefined) {
                            if ($('#roomName').is(':visible')) {
                                //群聊
                                var params = {
                                    action: 'createGroupRoom',
                                    roomName: $('#roomName').val(),
                                    members: [response.data.userId]
                                }
                                ws.send(JSON.stringify(params));
                            } else {
                                //私聊
                                var params = {
                                    action: 'createPersonalRoom',
                                    userId: response.data.userId
                                }
                                ws.send(JSON.stringify(params));
                            }
                        } else {
                            alert('找不到聯絡人');
                        }
                    }
                });
            });

            $('.search_member').click(function () {
                $.ajax({
                    url: "https://cors-anywhere.herokuapp.com/http://124.108.169.202/php-chat/public/user/search/" + $('#member').val(),
                    method: "GET",
                    success: function (response) {
                        console.log(response)
                        if (response.data.userId !== undefined) {
                            var params = {
                                action: 'addGroupMember',
                                roomId: parseInt(app.roomId),
                                members: [response.data.userId]
                            }
                            ws.send(JSON.stringify(params));
                        } else {
                            alert('找不到聯絡人');
                        }
                    }
                });
            });

            //有token直接登入
            window.setTimeout(function () {
                if (localStorage.getItem('token') != null) {
                    app.token = localStorage.getItem('token');
                    app.userName = localStorage.getItem('userName');
                    app.userId = localStorage.getItem('userId');
                    app.webSocket();
                } else {
                    $('#login').modal();
                }
            }, 100)
        }
    });
</script>
</body>
</html>